<!-- view for bills -->
<div class="col-lg-12">
  <h1>Bills</h1>
  <hr>

  <!-- button for adding new bills -->
  <button type="button" class="btn btn-success" ng-click="showAdd()">Add bill</button>

  <!-- view for bills -->


<!-- Add bills pop-up 
<div class="modal fade" id="bills_add_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            <h4 class="modal-title" id="myModalLabel">Add Bills</h4>
            </div>
            <div class="modal-body">



            <div class="row">
              <div class="col-xs-4">
                  <div class="form">
              <input type="email" ng-model="bill" class="form-control" id="exampleInputEmail1" placeholder="Bill Name">
            </div>
          </div>
          <div class="funny col-xs-4">
            <input type="text" class="form-control" placeholder="Amount">
        </div>      
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default">Add</button>
          </div>
      </div>
    </div>
</div>
-->


<!--<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
-->



<!-- view for bills
<div class="col-lg-12">
  <h1>{{title}} <a class="test" data-toggle="modal" data-target="#bills_add_modal" class="btn btn-default"> Add </a> 
  </h1>
  <hr>
  <p>
    Some bills go here...
  </p>
</div>
-->