html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
}

a {
  color: #fff;
}

a:hover {
  color: #ddd;
  text-decoration: none;
}

.front-logo {
  padding-top: 50px;
  width: 90%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

#apartment-title {
  font-weight: 700;
  font-size: 52px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  color: #fff;
  margin-top: 0;
  padding-top: 50px;
}

#apartment-description {
  color: #bbb;
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #apartment-description {
    margin-bottom: 60px;
  }
}

#apartment-wrap {
  height: auto;
  margin: 0 auto -30px;
  min-height: 100%;
  padding: 0 0 30px;
}

#apartment-footer {
  height: 30px;
  text-align: center;
}

#apartment-form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 60px;
}

#apartment-form label {
  color: #fff;
}
