/* Main CSS styles */

body {
  background-color: #2c3e50;
  padding-top: 50px;
  font-family: 'Open Sans', Arial, sans-serif;
}

a:hover {
  transition: color .2 ease-out;
}

button:focus {
  outline: none;
}

#brand-logo {
  height: 32px;
  margin-top: -5px;
}

#side-menu li.active {
  background-color: #263645;
}

#help-icon {
  margin-right: 15px;
}

#bill-table, #chores-table {
  margin-top: 20px;
}

#side-menu {
  margin-bottom: 10px;
}

.edit-message-buttons {
  margin-top: 10px;
  margin-bottom: 15px;
}

.history-date {
  text-align: left !important;
}

.history-string {
  margin-left: 0 !important;
}

#messages-list {
  margin-top: 74px;
}

.message-collapse {
  color: #333;
  cursor: pointer;
  cursor: hand;
}

.message-panel-heading {
  background-color: #f5f5f5;
}

.message-panel-body {
  border-top: 1px solid #ddd;
}

.message-date {
  color: #999;
}

.message-collapse:hover {
  text-decoration: none !important;
  color: #333 !important;
}

#nothing-loaded-message {
  margin-top: 15px;
}

.navbar-right li a {
  color: #fff !important;
  font-size: 21px;
}

.notif-badge {
  font-size: 8px;
  position: absolute;
  top: 12px;
  right: 8px;
  padding: 3px 5px;
}

.navbar-right li a:hover {
  color: #eee !important;
}

.nav-header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 20px;
  color: rgb(75, 113, 151);
  text-transform: uppercase;
}

.red-badge {
  background-color: #e74c3c;
}

.roommate-info {
  text-align: center;
  margin-bottom: 20px;
}

.navbar-brand {
  width: 200px;
  text-align: center;
  background-color: #34495e;
  color: #fff !important;
  font-weight: 600;
}

.navbar-brand:hover {
  color: #eee !important;
}

.navbar {
  border: none;
  background-color: #34495e;
}

.user-image {
  width: 75px;
}

#side-menu li a {
  color: #eee;
  padding-left: 30px;
}

#side-menu li a:hover {
  background-color: #263645;
}

#user-info {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

#user-welcome {
  margin-top: 10px;
}

@media(min-width:768px) {
  body {
    padding-top: 50px;
  }
}

#sidebar {
  background-color: #2c3e50;
  color: #fff;
}

#wrapper {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
}

#page-wrapper {
  padding: 0 15px;
  background-color: #fff;
  height: 100%;
  overflow: scroll;
}

@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 200px;
    padding: 0 30px;
    min-height: 100%;
  }
}

.sidebar-search {
  padding: 15px;
}

@media(min-width:768px) {
  .navbar-static-side {
    z-index: 1;
    position: absolute;
    width: 200px;
    margin-top: 51px;
  }
}

.supplies .name {
  margin-left: 10px;
}

.supplies .addnew {
  margin-left: 6px;
}

.table tbody tr td {
  height: 51px;
  vertical-align: middle;
}

.delete-icon {
  font-size: 16px;
  color: #999;
}

.highlight {
  color: #428bca;
  font-weight: bold;
}

.responsible-highlight {
  font-weight: normal;
}

.front-logo {
  padding-top: 50px;
  width: 90%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

#supply-add-button, #message-add-button {
  float: right;
  margin-bottom: 20px;
}

#empty-bills-alert, #chores-empty-alert {
  margin-top: 20px;
}

#supplies-empty-alert {
  margin-top: -20px;
}

#empty-messages-alert {
  margin-top: 74px;
}

#responsible-list {
  margin-bottom: 0 !important;
}

#chores-filter {
  margin-bottom: 15px;
  }

.supply-form-buttons {
  float: left;
  margin-left: 10px;
}

.supply-add-form {
  margin: 0;
  padding: 0;
}

.alert {
  margin-top: 15px;
  margin-bottom: 0px;
}

.messages .message .comments .comment {
  background: #f6f7f8 !important;
}

.message-body {
  margin-top: 30px;
}

.message-delete {
  margin-top: 6px;
  margin-right: 4px;
  color: #999;
}

.comment-delete {
  margin-top: 13px;
  color: #999;
}

.messages .list-group-item {
  border-radius: 0;
}

.comment {
  padding-top: 0;
}

.connectedList1 .item:hover {
  cursor: pointer;
  cursor: hand;
}

.comments {
  margin-top: 20px;
}

/*classes for rotating responsiblity chores input UI*/
.item, .placeholder {
  vertical-align: top;
  text-align: center;
}

.placeholder {
  text-align: left;
    background: #AEF;
}

.testing {
    vertical-align: top;
  text-align: left;
  border: 1px dashed grey;
  border-radius: 3px;
}

#right-align {
  position:relative;
    float:right;

}

.minimalList {
  min-height: 50px;
  background-image:url('img/backdrop.jpg');
}

.minimalList2 {
  min-height: 50px;
  background-image:url('img/backdrop2.jpg');

}

#chores_add_modal {

}

.positiveBalance {
  color: green;
}

.negativeBalance {
  color: red;
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak ng-cloak .ng-hide ng-hide {
  display: none !important;
}

#accept-invite-content {
  text-align: center;
}

#accept-invite-title {
  font-weight: 700;
  font-size: 52px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  color: #fff;
  margin-top: 0;
  padding-top: 50px;
}

#accept-invite-description {
  color: #bbb;
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-bottom: 20px;
}

#accept-invite-text {
  color: #fff;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

@media (max-width: 768px) {
  #accept-invite-description {
    margin-bottom: 60px;
  }
}

#accept-invite-button {
  margin-top: 20px;
}

#accept-invite-wrap {
  height: auto;
  margin: 0 auto -30px;
  min-height: 100%;
  padding: 0 0 30px;
}

#accept-invite-footer {
  height: 30px;
  text-align: center;
}

#accept-invite-footer a,
#login-invite-footer a {
  color: #fff;
}

#accept-invite-footer a:hover,
#login-invite-footer a:hover {
  color: #ddd;
  text-decoration: none;
}

#accept-invite-content {
  text-align: center;
}

#login-invite-title {
  font-weight: 700;
  font-size: 52px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  color: #fff;
  margin-top: 0;
  padding-top: 50px;
}

#login-invite-description {
  color: #bbb;
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-bottom: 20px;
}

#login-invite-text {
  color: #fff;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}

@media (max-width: 768px) {
  #login-invite-description {
    margin-bottom: 60px;
  }
}

#login-invite-button {
  margin-top: 20px;
}

#login-invite-middle {
  margin-top: 40px;
  text-align: center;
}

#login-invite-wrap {
  height: auto;
  margin: 0 auto -30px;
  min-height: 100%;
  padding: 0 0 30px;
}

#login-invite-footer {
  height: 30px;
  text-align: center;
}
