<!-- Chores view -->

<div class="col-lg-12">
    <div class="clearfix">
    <h1 class="pull-left">Chores</h1>
    <div class="pull-right alert alert-success" ng-show="success">{{successmsg}}</div>
    <div class="pull-right alert alert-danger" ng-show="error">{{errormsg}}</div>
    </div>

    <hr>

	<button type="button" data-toggle="modal" data-target="#chores_add_modal" class="btn btn-success pull-right" ng-click="cancel(); chore.interval = 0; chore.rotating = false; setList(); reset_responsibleList();">Add Chore</button>

  <!-- Add chores modal -->
  <div class="modal fade" id="chores_add_modal" tabindex="-1" role="dialog" aria-labelledby="addChoreLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="addChoreLabel">Add Chore</h4>
        </div>

        <div class="modal-body">
          <form class="form-horizontal" role="form" name="choreForm" ng-submit="">
            <div class="form-group">
            <label class="col-sm-3 control-label" for="xone">Chore Name</label>
            <div class="col-sm-8">
              <div ng-class="{'has-error': choreForm.name.$dirty &amp;&amp; choreForm.name.$invalid}">
            <input type="text" id="xone" name="name" class="form-control" ng-model="chore.name" required>
              </div>
            </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="xtwo">Frequency</label>
                <div class="col-sm-8">
                  <label class="radio-inline">
                    <input type="radio" value="0" ng-model="chore.interval" required> One Time
                  </label>
                  <label class="radio-inline">
                    <input type="radio" value="1" ng-model="chore.interval" required> Daily
                  </label>
                  <label class="radio-inline">
                    <input type="radio" value="7" ng-model="chore.interval" required> Weekly
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class ="col-sm-3 control-label" for="xfour">{{setModal(chore.interval)}} Date</label>

                <div class = "col-sm-8">
                <input type="date" class="form-control" id="xfour" name="choredate" ng-model="chore.duedate" min="{{today()}}" required>
                </div>
              </div>

              <div class="col-sm-offset-3">
                <table>
                  <tr>
                    <th style="width:175px;text-align:center"><label class="">Roommates</label></th>
                    <th style="width:175px;text-align:center"><label class="">Responsible</label></th>
                  </tr>

                  <td class="testing">
                    <ul ui-sortable="sortableOptions" class="connectedList1 list-unstyled" ng-model="menuList"
                    ng-class="{'minimalList2':menuEmpty()}">
                      <li ng-repeat="user in menuList" class="item">
                      <span>{{user.first_name}}</span>
                      </li>
                    </ul>
                  </td>

                  <td class="testing">
                    <ul ui-sortable="sortableOptions" class="connectedList1 list-unstyled" ng-model="responsibleList" ng-class="{'minimalList':responsibleEmpty()}">
                      <li ng-repeat="responsible in responsibleList" class="item">
                      <span>{{responsible.first_name}}</span>
                    </li>
                    </ul>
                  </td>
                  </tr>
                </table>
              </div>

                <div class="form-group" ng-class="{'hide': users_at_least_two()}">
                <label class="col-sm-3 control-label" for="xfive">Rotating Responsibility?</label>
                <div class="col-sm-8">
                  <label class="radio-inline">
                    <input type="radio" id="xfive" name="rotating" ng-model="chore.rotating" ng-value="true" ng-click="setDefaultRotation()"> Yes
                  </label>
                    <label class="radio-inline">
                      <input type="radio" id="xfive" name="rotating" ng-model="chore.rotating" ng-value="false"> No
                    </label>
                </div>
                </div>

                <div class ="form-group" ng-class ="{'hide': users_and_rotating()}">
                    <label class="col-sm-3 control-label" ng-class="{'hide': populate_rotation()}">Number in Rotation</label>
                    <div class="col-sm-8">
                        <label class="radio-inline" ng-repeat="option in rotation_number">
                          <input type="radio" name="numbers" ng-model="chore.rotation_number" value="{{option}}"> {{option}}
                        </label>

                    </div>
                </div>

                </form>
      </div>

        <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="addChore(chore)">Add</button>

        </div>

      </div>
    </div>
  </div>

    <!-- Edit chore modal -->
    <div class="modal fade" id="chores_edit_modal" tabindex="-1" role="dialog" aria-labelledby="editChoreLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="editChoreLabel">Edit Chore</h4>
        </div>

        <div class="modal-body">
          <form class="form-horizontal" role="form" name="choreForm" ng-submit="">
            <div class="form-group">
            <label class="col-sm-3 control-label" for="xone"> Chore Name </label>
            <div class="col-sm-8">
              <div ng-class="{'has-error': choreForm.name.$dirty &amp;&amp; choreForm.name.$invalid}">
            <input type="text" id="xone" name="name" class="form-control" ng-model="chore.name" required>
              </div>
            </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="xtwo">Frequency</label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                      <input type="radio" value="0" ng-model="chore.interval" required> One Time
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="1" ng-model="chore.interval" required> Daily
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="7" ng-model="chore.interval" required> Weekly
                    </label>
                </div>
              </div>

              <div class="form-group">
                <label class ="col-sm-3 control-label" for="xfour">{{setModal(chore.interval)}} Date</label>

                <div class = "col-sm-8">
                <input type="date" class="form-control" id="xfour" name="choredate" ng-model="chore.duedate" min="{{today()}}" required>
                </div>
              </div>

              <div class="col-sm-offset-3">
                <table >
                <tr>
                <th style="width:175px;text-align:center"><label class="">Roommates</label></th>
                <th style="width:175px;text-align:center"><label class="">Responsible</label></th>
                </tr>

                <td class = "testing">

                    <ul ui-sortable="sortableOptions" class="connectedList1 list-unstyled" ng-model="menuList"
                    ng-class="{'minimalList2':menuEmpty()}">
                    <div ng-repeat="user in menuList" class="item">
                    <span>{{user.first_name}}</span>
                    </div>
                    </ul>
                </td>

                <td class = "testing">
                    <ul ui-sortable="sortableOptions" class="connectedList1 list-unstyled" ng-model="responsibleList" ng-class="{'minimalList':responsibleEmpty()}">
                    <div ng-repeat="responsible in responsibleList" class="item">
                    <span>{{responsible.first_name}}</span>
                    </div>
                    </ul>
                </td>
                </tr>
                </table>
              </div>
                <div class="form-group" ng-class="{'hide': users_at_least_two()}">
                <label class="col-sm-3 control-label" for="xfive">Rotating Responsibility?</label>
                <div class="col-sm-8">
                  <label class="radio-inline">
                    <input type="radio" id="xfive" name="rotating" ng-model="chore.rotating" ng-value="true" ng-click="setDefaultRotation()"> Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="xfive" name="rotating" ng-model="chore.rotating" ng-value="false"> No
                  </label>


                </div>
                </div>

                <div class ="form-group" ng-class ="{'hide': users_and_rotating()}">
                    <label class="col-sm-3 control-label" ng-class="{'hide': populate_rotation() || check_interval()}">Number in Rotation</label>
                    <div class="col-sm-8">
                      <label class="radio-inline" ng-repeat="option in rotation_number">
                        <input type="radio" name="numbers" ng-model="chore.rotation_number" value="{{option}}"> {{option}}
                      </label>

                    
                    </div>
                </div>
                </form>
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-toggle="modal" data-target="#deleteModal" ng-click="prepareDelete(chore.id, chore.ind)">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="editChore()" ng-disabled="chore.completed">Edit</button>
        </div>

      </div>
    </div>
  </div>


  <!-- add a filter to table later on -->
  <div class="clearfix">
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-click="setTable('unresolved')" ng-class="{ 'active' : table === 'unresolved' }">Uncompleted</button>
      <button type="button" class="btn btn-default" ng-click="setTable('resolved')" ng-class="{ 'active' : table === 'resolved' }">Completed</button>
    </div>
  </div>

  <!-- Chores table -->
  <table class="table table-striped table-hover clearfix text-center hide" id="chores-table" ng-hide="emptyChoreList()">
    <tbody>
      <tr ng-show="!emptyChoreList()">
       <th class="text-center">Name</th>
       <th class="text-center">Responsible</th>
       <th class="text-center">Frequency</th>
       <th class="text-center">Due</th>
       <th class="text-center">Done?</th>
     </tr>
      <tr data-ng-repeat="chore in chores" >
        <td data-toggle="modal" data-target="#chores_edit_modal" ng-click="setChore($index)">
        <span class="name">{{chore.name}}</span>
        </td>
        <td data-toggle="modal" data-target="#chores_edit_modal" ng-click="setChore($index)">
          <ul class="list-unstyled" id="responsible-list">
            <li ng-repeat="responsible in chore.users" ng-class="{highlight: isResponsible(chore, responsible)}" ng-model="currResponsible">{{responsible.first_name}}</li>
          </ul>
        </td>
       <td data-toggle="modal" data-target="#chores_edit_modal" ng-click="setChore($index)">
        <span class="recurring">{{convertfrequency(chore.interval)}}</span>
       </td>
       <td data-toggle="modal" data-target="#chores_edit_modal" ng-click="setChore($index)">
         <span class="due date">{{format(chore.duedate)}}</span>
       </td>
       <td>
        <input type="checkbox" ng-click="doChore(chore.id, $index)" ng-show="isDone(chore.id, $index)">
       </td>
      </tr>
    </tbody>
  </table>

  <!-- Delete Confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this chore?</h4>
            <p>If you are deleting a recurring chore, no new chores will be generated</p>
          </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetDelete()">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteChore()">Delete</button>
          </div>
        </div>
      </div>
    </div>
<!--message that shows when there is no chores added by user-->
  <div class="alert alert-warning" id="chores-empty-alert" ng-show="emptyChoreList() && table=='unresolved'">No chores here, add some!</div>

</div>
