<!-- view for chores -->
<div class="col-lg-12">
	<div class="supplyHeader clearfix">
	 	<h1 class="pull-left">Chores
    </h1>
	 
	 	<div class="pull-right alert alert-success" ng-show="success">{{successmsg}}</div>
		<div class="pull-right alert alert-danger" ng-show="error">{{errormsg}}</div>
			
	 	
	</div>
<hr>

<div class="supplyAddButton">
	<button type="button" data-toggle="modal" data-target="#chores_add_modal" class="btn btn-success" ng-click="cancel(); chore.interval = 0"> Add Chores </button>
</div>


	<!-- (bootstrap modal) pop-up UI for adding chores --> 
  <!--Add Chores Modal -->
	<div class="modal fade" id="chores_add_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog adjust-width">
        	<div class="modal-content">
            <div class="modal-header">
              Add Chore
            </div>

            	<div class="modal-body">

                <form role="form">
                <div class="form-group">
                  <label for="xone"> Chore Name </label>
                  <input type="text" id="xone" ng-model="chore.name" class="form-control" placeholder="">
                </div>

                <table>
                <tr>
                 <th width= "50%"><label for="xtwo"> Frequency </label><br></th>
                  <th><label> Persons Responsible </label></th>
                </tr>

                <tr>
                 <td>
                  <input type="radio" id="xtwo" name="interval" value="0" ng-model = "chore.interval" > One-Time<br>
                  <input type="radio" id="xtwo" name="interval" value="7" ng-model = "chore.interval" > Weekly <br><br>
                  </td>

                  
                <td>
                  <!-- get all users in apartment -->
                  <div class="col-lg-4" data-ng-repeat="user in users">
                    <label>
                    <div><input type="checkbox" id="xthree" ng-model="user.isChecked"/>  <span>{{ user.first_name }} </span></div>
                    </label>
                    <br>  
                  </div>
                  </td>
                </tr>
                </table>

                <div class="form-group">
                     <label for="xfour"> Due Date </label><br>
                     <input type="date" id="xfour" name="bday" ng-model="chore.duedate">
                </div>
						
					      </form>
               
              </div>
              <!-- end modal body-->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addChore(chore)">Add</button>
              </div>
          </div>
      	</div>
      </div>

	<!-- end pop-up UI for addching chores -->

<!-- modal pop-up for editing chores-->
<div class="modal fade" id="chores_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        	<div class="modal-content">
            	
            	<div class="modal-header">
            	<h5> Edit Chore </h5>
            	</div>
                <div class="col-md-4">
                  Chore Name
                </div>
                <div class="col-md-4">
                  Frequency
                </div>
                <div class="col-md-4">
                  Persons Responsible
                </div>
            	<br>

            	<div class="modal-body">

            <!-- get chore name from user -->
            	<div class="row">
                  <div class="col-md-4">
              			<input type="text" ng-model="chore.name" class="form-control" placeholder="Chore Name">
                  </div>


                <div class="col-md-4">
        			<form action="">
						<input type="radio" name="interval" value="0" ng-model = "chore.interval" > One-Time<br>
						<input type="radio" name="interval" value="7" ng-model = "chore.interval" > Weekly <br><br>

					</form>
				</div>
 

				<!-- get all users in chore -->
                <div class="col-md-4" ng-repeat="i in users">
                    <label>
						          <input type="checkbox" ng-model="i.isChecked"/>  <span> {{ i.first_name }} </span>
                    </label>
                      
                  </div>

                  <div class="col-md-4">
                     Due Date <input type="date" name="bday" ng-model="chore.duedate">
                  </div>
    
          
            </div>
            	</div>
            		<div class="modal-footer">
                	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                	<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="editChore()">Edit</button>

        			</div>
         	 	</div>
      		</div>
    	
		</div>
	<!-- end pop-up UI for editing chores -->






<!-- view for chores list from apartment -->

<table class="table table-striped table-hover supplies">
    <tbody>
    	<tr ng-show="!emptyChoreList()">
 			<th class="tableHeader" width="150">Name</th>
 			<th class="tableHeader">Responsible</th>
 			<th class="tableHeader">Frequency</th>
 			<th class="tableHeader">Due Date </th>
 		</tr>


    	<tr data-ng-repeat ="chore in chores" >
    		<td data-toggle= "modal" data-target="#chores_edit_modal" ng-click="setChore($index)">
 				<span class="name">{{chore.name}}</span> 
 			</td>
 			<td data-toggle= "modal" data-target="#chores_edit_modal" ng-click="setChore($index)">
 				
        <div ng-repeat="responsible in chore.users">
          <span class="responsible">{{responsible.first_name}}</span>
        </div>
 			</td>
 			<td data-toggle= "modal" data-target="#chores_edit_modal" ng-click="setChore($index)">
 				<span class="recurring"> {{convertfrequency(chore.interval)}} </span>
 			</td >
 			<td data-toggle= "modal" data-target="#chores_edit_modal" ng-click="setChore($index)">
 				<span class="due date"> {{convertdate(chore.duedate)}}</span>
 			</td>
 			<td width = "100">
 			<div class="delete">
				    <span class="glyphicon glyphicon-remove" ng-click="deleteChore(chore.id, $index)"></span>
			</div>
			</td>
    	</tr>
	</tbody>  
</table>
<div class="alert alert-warning" ng-show="emptyChoreList()">No chores here, add some!</div>

</div>

</div>