<!-- view for message board -->
<div class="col-lg-12">
  <div class="boardHeader clearfix">
	  <h1 class="pull-left">Message Board</h1>
	  <div class="pull-right alert alert-success" ng-show="success">{{successmsg}}</div>
		<div class="pull-right alert alert-danger" ng-show="error">{{errormsg}}</div>
	</div>
  <hr>

  <ul class="list-group messages">
    <li class="list-group-item">
      <div class="clearfix" id="add-message-box">
        <form role="form">
          <input type="text" class="form-control" autofocus ng-model="newMessage.subject" placeholder="Subject" required><br>
 				  <textarea class="form-control" ng-model="newMessage.body" placeholder="Message" required></textarea><br>
 				  <button type="submit" ng-disabled="!postButton()" class="btn btn-success pull-right" ng-click="addMessage()">Post Message</button><br>
 			  </form>
      </div>
      <div>
  			{{message.body}}
  		</div>
    </li>
  	<li data-ng-repeat="message in messages" class="list-group-item clearfix message">
  		<div>
  		  <h3 class="message-subject">{{message.subject}} <br><small>Posted by {{message.author}} - {{format(message.date)}}</small></h3>
  		</div>
      <div>
  			{{message.body}}
  		</div>
  		<br>
  		<ul ng-show="true" class="list-group comments">
  			<li data-ng-repeat="comment in message.comments" class="list-group-item comment">
          <h4 class="comment-body"><small>Posted by {{comment.author}} - {{format(message.date)}}</small></h4>
          {{comment.body}}
        </li>
  			<li class="list-group-item comment clearfix add-comment-box">
  				<form ng-submit="(addComment($index))" role="form">
 				   <input type="text" class="form-control" ng-model="message.newComment.body" placeholder="Comment" required>
          </form>
        </li>
  		</ul>
  	</li>
  </ul>
</div>
