<!-- Supplies view -->

<div class="col-lg-12">

 	<div class="clearfix">
	   <h1 class="pull-left">Supplies</h1>
	 	<div class="pull-right alert alert-success" ng-show="success">{{successmsg}}</div>
		 <div class="pull-right alert alert-danger" ng-show="error">{{errormsg}}</div>
	 </div>
   <hr>

   <div id="supply-add-button">
	   <button type="button" ng-click="showAdd()" class="btn btn-success">Add Supply</button>
	 </div>

   <table class="table table-striped table-hover text-center">
 	  <tbody>
 		  	<tr ng-show="!emptySupplyList()" class="hide">
 			  	<th class="text-center">Name</th> 
 				<th class="text-center">Status</th>
         		<th class="text-center">Delete</th>
 			</tr>
 			<tr ng-hide="hideAddBox" class="hide">
 				<td>
 					<form ng-submit="addSupply()" class="navbar-form navbar-left supply-add-form">
 						<div class="pull-left">
	 						<input type="text" class="form-control" autofocus ng-model="supply.name" placeholder="Supply name" required>
	 					</div>
	 					<div class="supply-form-buttons">
						   	<button ng-click="addSupply()" ng-disabled="disabled()" type="button" class="btn btn-success">Add</button>
							<button ng-click="reset()" type="button" class="btn btn-default">Cancel</button>
	 					</div>
	 				</form>
 				</td>
 				<td></td>
 				<td></td>
 			</tr>

       <tr class="hidden"><td></td></tr>

 			<tr data-ng-repeat="supply in supplies">
 				<td ng-click="editSupply($index)">
 					<div ng-show="!supply.edit" class="description">
 						<span class="name">{{supply.name}}</span>
 					</div>
 					<div ng-show="supply.edit" class="edit">
 						<form ng-submit="updateSupply($index)">
 							<input type="text" style="width: 200px;" class="form-control center-block" ng-model="supply.name" required>
 						</form>
 					</div>
 				</td>
 				<td>
				   <div class="btn-group supplybuttons">
				     <label class="btn btn-default" ng-class="{ 'active' : supply.status == '0' }" ng-change="updateSupply($index)"  ng-model="supply.status" btn-radio="'0'">Empty </label>
				     <label class="btn btn-default" ng-class="{ 'active' : supply.status == '1' }" ng-change="updateSupply($index)" ng-model="supply.status" btn-radio="'1'">Low</label>
				     <label class="btn btn-default" ng-class="{ 'active' : supply.status == '2' }"  ng-change="updateSupply($index)" ng-model="supply.status" btn-radio="'2'">Full</label>
				   </div>
				 </td>
				 <td>
					 <div>
				     <i class="ion-close-round delete-icon" ng-click="deleteSupply($index)"></i>
					 </div>
				 </td>
 		  </tr>
 	  </tbody>
	 </table>

	<div class="alert alert-warning" id="supplies-empty-alert" ng-show="emptySupplyList()">No supplies here, add some!</div>

</div>
