<!-- view for supplies -->
<div class="col-lg-12">
 	<div class="supplyHeader clearfix">
	 	<h1 class="pull-left">Supplies</h1>
	 	<div class="pull-right alert alert-success" ng-show="success">{{successmsg}}</div>
		 <div class="pull-right alert alert-danger" ng-show="error">{{errormsg}}</div>
	 </div>
  	<hr>
  	<div class="supplyAddButton">
		  <button type="button" ng-click="showAdd()" class="btn btn-success">Add Supply</button>
	  </div>
	<table class="table table-striped table-hover">
 		<tbody>
 			<tr>
 				<th>Name</th>
 				<th>Status</th>
         <th>Delete</th>
 			</tr>
 			<tr ng-class="{'hide': hideAddBox}">
 				<td>
 					<form ng-submit="addSupply()" class="navbar-form navbar-left supplyAddForm">
 						<div class="newSupply">
	 						<input type="text" class="form-control" autofocus ng-model="supply.name" placeholder="Supply name" required>
	 					</div>
	 					<div class="supplyAdd">
							<button ng-click="addSupply()" ng-disabled="disabled()" type="button" class="btn btn-success">Add</button>
							<button ng-click="reset()" type="button" class="btn btn-danger">Cancel</button>
	 					</div>
	 				</form>
 				</td>
 			</tr>

 			<tr data-ng-repeat="supply in supplies">
 				<td ng-click="editSupply($index)">
 					<div ng-show="!supply.edit" class="description">
 						<span class="name">{{supply.name}}</span>
 					</div>
 					<div ng-show="supply.edit" class="edit">
 						<form ng-submit="updateSupply($index)">
 							<input type="text" style="width: 200px;" class="form-control" ng-model="supply.name" required>
 						</form>
 					</div>
 				</td>
 				<td>
				  	<div class="btn-group supplybuttons">
				        <label class="btn btn-default" ng-class="{ 'active' : supply.status == '0' }" ng-change="updateSupply($index)"  ng-model="supply.status" btn-radio="'0'">Empty </label>
				        <label class="btn btn-default" ng-class="{ 'active' : supply.status == '1' }" ng-change="updateSupply($index)" ng-model="supply.status" btn-radio="'1'">Low</label>
				        <label class="btn btn-default" ng-class="{ 'active' : supply.status == '2' }"  ng-change="updateSupply($index)" ng-model="supply.status" btn-radio="'2'">Full</label>
				    </div>
				</td>
				<td>
					<div class="delete">
				    	<span class="glyphicon glyphicon-remove" ng-click="deleteSupply(supply.id, $index)"></span>
					</div>
				</td>
 			</tr>
 		</tbody>
	</table>
</div>
